<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/indexCss.css}">
        <title>Buffet Form</title>
    </head>
    <body>
        <div class="navbar">
            <p class="navbar-text">
                <a class="link" th:href="@{/}">Home</a>
                <a class="link" th:href="@{/elencoChef}">Chef</a>
                <a class="link" th:href="@{/elencoBuffet}">Buffet</a> 
                <a class="link" th:href="@{/elencoPiatti}">Piatti</a>
                <a class="link" th:href="@{/elencoIngredienti}">Ingredienti</a>
                <a class="link" th:href="@{/login}"><button class="link">Login</button></a>
            </p>
        </div>

        <img class="card-img" th:src="@{/images/catering5.jpg}" >
        <div class="container card-img-overlay mt-4">

            <div class=" text-center mt-5 ">
                <h1 class="title">INSERIMENTO BUFFET</h1>
            </div>
        
        
            <div class="row ">
                <div class="col-lg-7 mx-auto">
                    <div class="card mt-2 mx-auto p-4 bg-light">
                        <div class="card-body bg-light">
           
                            <div class = "container">
                                <form id="contact-form" role="form" th:action="@{/admin/buffet}" method="POST" th:object="${buffet}">
                                    <div th:if="${#fields.hasGlobalErrors()}">
                                        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore Globale</p>
                                    </div>
                                    
                                    <div class="controls">
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_name">Nome *</label>
                                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Inserisci il nome del buffet *" required="required" th:field="*{nome}" >
                                                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="form_message">Descrizione *</label>
                                                    <textarea th:field="*{descr}" id="form_message" name="message" class="form-control" placeholder="Write your description here." rows="4" required="required" >
                                                    </textarea>
                                                    <span th:if="${#fields.hasErrors('descr')}" th:errors="*{descr}"></span>
                                                </div>        
                                            </div>

                                            <div class="col-12 mt-3">
                                                <div class="form-group">
                                                    <label for="form_name">Seleziona Chef</label>
                                                    <div th:if="${chefDisponibili}">
                                                        <select class="form-select" name="chefScelto" aria-label="Default select example">
                                                            <option th:each="chef : ${chefDisponibili}" th:value="${chef.id}">
                                                                <span th:text="${chef.nome}">Nome Chef</span>
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div th:unless="${chefDisponibili}">
                                                        <div class="notification p-3 is-danger">Nessuno Chef disponibile!</div>
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="col-md-12">                         
                                                <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Submit Buffet" >
                                            </div>             
                                        </div>        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="text-white fixed-bottom" style="background-color: rgb(118, 136, 224);">
            <div style="background-color: rgb(118, 136, 224);">
                <p>Progetto di Luca Catarinella 547511
                    <br>
                    luc.catarinella@stud.uniroma3.it</p>
            </div>
        </footer>
    </body>
</html>