<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/indexCss.css}">
        <title>Buffet Update</title>
    </head>
    <body>
        <div class="navbar">
            <p class="navbar-text">
                <a class="link" th:href="@{/}">Home</a>
                <a class="link" th:href="@{/elencoChef}">Chef</a>
                <a class="link" th:href="@{/elencoBuffet}">Buffet</a> 
                <a class="link" th:href="@{/elencoPiatti}">Piatti</a>
                <a class="link" th:href="@{/elencoIngredienti}">Ingredienti</a>
                <a class="link" th:href="@{/login}"><button class="link">Login</button></a>
            </p>
        </div>

        <img class="card-img" th:src="@{/images/sfondoChefForm.jpg}" >
        <div class="container card-img-overlay mt-4">

            <div class=" text-center mt-5 ">
                <h1 class="title">AGGIORNAMENTO CHEF</h1>
            </div>
        
        
            <div class="row ">
                <div class="col-lg-7 mx-auto">
                    <div class="card mt-2 mx-auto p-4 bg-light">
                        <div class="card-body bg-light">
           
                            <div class = "container">
                                <form id="contact-form" role="form" th:action="@{'/admin/chefUpdate' + '/' + ${chef.id}}" method="POST" th:object="${chef}">
                                    <div th:if="${#fields.hasGlobalErrors()}">
                                        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore Globale</p>
                                    </div>
                                    
                                    <div class="controls">
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_name">Nome *</label>
                                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Inserisci il nome dello chef *" required="required" th:field="*{nome}" >
                                                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_message">Cognome *</label>
                                                    <input th:field="*{cognome}" type="text" id="form_surname" name="surname" class="form-control" placeholder="Inserisci il cognome dello chef *" required="required" >
                                                    <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
                                                </div>        
                                            </div>            
                                        </div>          
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_message">Nazionalità *</label>
                                                    <input th:field="*{nazionalita}" type="text" id="form_nationality" name="nationality" class="form-control" placeholder="Inserisci la nazionalità dello chef *" required="required" >
                                                    <span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
                                                </div>        
                                            </div> 

                                            <div class="col-md-12">                         
                                                <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Update Chef" >
                                            </div> 
                                        </div> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="text-white fixed-bottom" style="background-color: rgb(118, 136, 224);">
            <div style="background-color: rgb(118, 136, 224);">
                <p>Progetto di Luca Catarinella 547511
                    <br>
                    luc.catarinella@stud.uniroma3.it</p>
            </div>
        </footer>
    </body>
</html>