<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
       <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/indexCss.css}">
        <title>Chef Page</title>
    </head>
    <body>
        <div class="navbar">
            <p class="navbar-text">
                <a class="link" th:href="@{/}">Home</a>
                <a class="link" th:href="@{/elencoChef}">Chef</a>
                <a class="link" th:href="@{/elencoBuffet}">Buffet</a> 
                <a class="link" th:href="@{/elencoPiatti}">Piatti</a>
                <a class="link" th:href="@{/elencoIngredienti}">Ingredienti</a>
                <a class="link" th:href="@{/login}"><button class="link">Login</button></a>
            </p>
        </div>
        <img class="card-img" th:src="@{/images/chefSingolo.jpg}" width="100%" height="100%">
        <div class="card-img-overlay">
            <br><br>
            <h1 class="title">CHEF PAGE</h1>
            <div class="jumbotron text-center" style="background-color:rgb(168, 181, 158,.7);">
                <h1 class="display-4" style="color: rgb(0,0,0);text-transform: uppercase;" th:text="${chef.nome}" >Nome Chef</h1>
                <h1 class="display-4" style="color: rgb(0,0,0);text-transform: uppercase;" th:text="${chef.cognome}" >Cognome Chef</h1>
                <p class="lead" style="color: rgb(0,0,0);" th:text="${chef.nazionalita}">Nazionalità chef</p>
                <hr>

                <h3 class="d-flex justify-content-center" style="color: rgb(24, 23, 23) ;">Buffet di questo chef:</h3>
                <div class="d-flex flex-row flex-wrap ">
                <div class="col-4"  th:each="buffet : ${elencoBuffet}">
                        <div class="card m-3" style="background-color: rgba(255, 253, 208);">
                            <div class="d-flex card-body justify-content-between">
                                <h3 class=" d-inline" th:text="${buffet.nome}" style="color: rgb(224, 134, 49);"><strong>Buufet</strong></h3>
                                    <a href="buffet.html" class ="link btn mt-8" style="background-color:#ab9eb5;" th:href="@{'/buffet' + '/' + ${buffet.id}}">Dettagli</a>
                            </div>        
                        </div>
                    </div>
                </div>

                <a class="btn btn-danger" role="button" th:href="@{/amdin/deleteChef(chefId=${chef.id})}">
                    Elimina Chef
                </a>
                <a class="btn btn-primary" role="button" th:href="@{/admin/updateChef(chefId=${chef.id})}" >
                    Update
                </a>
            </div>

            <br>

            <a class="btn btn-block btn-outline-dark " role="button" th:href="@{/elencoChef}">
                Torna all'elenco chef
            </a>

        </div>
    </div>
    <br><br><br>
    <footer class="text-white fixed-bottom" style="background-color: rgb(118, 136, 224);">
        <div style="background-color: rgb(118, 136, 224);">
            <p>Progetto di Luca Catarinella 547511
                <br>
                luc.catarinella@stud.uniroma3.it</p>
        </div>
    </footer>
</body>
</html>