<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
       <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/indexCss.css}">
        <title>Ingrediente Page</title>
    </head>
    <body>
        <div class="navbar">
            <p class="navbar-text">
                <a class="link" th:href="@{/}">Home</a>
                <a class="link" th:href="@{/elencoChef}">Chef</a>
                <a class="link" th:href="@{/elencoBuffet}">Buffet</a> 
                <a class="link" th:href="@{/elencoPiatti}">Piatti</a>
                <a class="link" th:href="@{/elencoIngredienti}">Ingredienti</a>
                <a class="link" th:href="@{/login}"><button class="link">Login</button></a>
            </p>
        </div>
        <img class="card-img" th:src="@{/images/sfondoIngrediente.jpg}" width="100%" height="100%">
        <div class="card-img-overlay">
            <br><br>
            <h1 class="title">INGREDIENTE PAGE</h1>
            <div class="jumbotron text-center" style="background-color:rgb(168, 181, 158,.7);">
                <h1 class="display-4" style="color: rgb(0,0,0); text-transform: uppercase;" th:text="${ingrediente.nome}" >Nome ingrediente</h1>
                <h1 class="display-4" style="color: rgb(0,0,0);" th:text="${ingrediente.origine}" >Origine ingrediente</h1>
                <p class="lead" style="color: rgb(0,0,0);" th:text="${ingrediente.descr}">Descrizione ingrediente</p>
                <hr>

                <h3 class="d-flex justify-content-center" style="color: rgb(24, 23, 23) ;">Piatto di questo ingrediente:</h3>
                <div class="card bg-light col-6 my-5 ml-3">
                    <div class="card-body d-flex flex-row align-items-center justify-content-between" th:if="${ingrediente.piatto}" th:object="${ingrediente.piatto}">
                        <div>
                            <h4 class=" d-inline">Piatto: </h4>
                            <h4 class="d-inline" th:text="*{nome}">Piatto</h4>
                        </div>
                        <a href="piatto.html" class ="link btn btn-success"th:href="@{'/piatto' + '/' + *{id}}">Dettagli</a>
                    </div>
                    <h4 th:unless="${ingrediente.piatto}" class="p-3">Nessun Piatto assegnato</h4>
                </div>

                <a class="btn btn-danger" role="button" th:href="@{/admin/deleteIngrediente(ingredienteId=${ingrediente.id})}">
                    Elimina ingrediente
                </a>
                
                <a class="btn btn-primary" role="button" th:href="@{/admin/updateIngrediente(ingredienteId=${ingrediente.id})}" >
                    Update
                </a>

            </div>

            <br>

            <a class="btn btn-block btn-outline-dark " role="button" th:href="@{/elencoIngredienti}">
                Torna all'elenco Ingredienti
            </a>

        </div>
    </div>
    <br><br><br>
    <footer class="text-white fixed-bottom" style="background-color: rgb(118, 136, 224);">
        <div style="background-color: rgb(118, 136, 224);">
            <p>Progetto di Luca Catarinella 547511
                <br>
                luc.catarinella@stud.uniroma3.it</p>
        </div>
    </footer>
</body>
</html>